<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wishlist</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<!-- Header / Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/" th:href="@{/}">Book Club</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">

                <!-- User-specific links -->
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <span class="nav-link">Logged in as <strong sec:authentication="name"></strong></span>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/logout}">Logout</a>
                </li>
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link" th:href="@{/login}">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Main Content -->
<div class="container my-4">
    <h2 class="text-center">My Wishlist</h2>
    <div class="text-center mb-3">
        <a href="/wishlist/new" th:href="@{/wishlist/new}" class="btn btn-outline-secondary">New Wishlist Item</a>
    </div>


    <div id="wishlist"> wishlist table</div>
</div>

<script>
    class HttpClient {
        async get(url, params = "") {
            url = new URL(url);
            url.search = new URLSearchParams(params).toString();
            console.log(url.toString());
            const res = await fetch(url.toString(), {
                method: 'GET',
            });
            return res.json();
        }
    }

    function buildTable(items) {
        let tableString = `<table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">ISBN</th>
                    <th scope="col">Title</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>`;
        for (let item of items) {
            tableString += `<tr><td>${item.isbn}</td><td>${item.title}</td><td>
                    <a href="/wishlist/${item.id}/edit" class="btn btn-warning btn-sm">EDIT</a>
                    <a href="/wishlist/${item.id}/remove" class="btn btn-danger btn-sm">DELETE</a>
                </td>
            </tr>`;
        }
        tableString += `</tbody></table>`;
        return tableString;
    }

    window.onload = function () {
        const http = new HttpClient();
        http.get('http://localhost:8081/api/wishlist').then(res => {
            console.log(res);
            document.getElementById("wishlist").innerHTML = buildTable(res);
        }).catch(e => {
            console.error(e);
        });
    }
</script>

</body>
</html>
