<div th:fragment="footer">
    <footer class="bg-dark text-white text-center py-3 mt-auto">
        <div class="container">
            <p class="float-end mb-1">
                <a href="#" class="text-white text-decoration-none">Back to top</a>
            </p>
            <p  class="mb-0">
                &copy; 2025 - CIS 530 (Book Club) |
                <a href="https://www.bellevue.edu" target="_blank" class="text-white text-decoration-underline">Bellevue University</a>
            </p>
        </div>
    </footer>
</div>
