<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Monthly Books</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container my-4">
    <h1 class="text-center">Monthly Books</h1>
    <div class="text-center mt-3">
        <a class="btn btn-primary" th:href="@{/monthly-books/new}">New Monthly Books</a>
    </div>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Month</th>
            <th>ISBN</th>
            <th>Functions </th>
        </tr>
        </the  ad>
        <tbody>
        <tr th:each="book : ${books}">
            <td th:text="${book.month}"></td>
            <td th:text="${book.isbn}"></td>
            <td>
                <a class="btn btn-danger btn-sm" th:href="@{'/monthly-books/remove/' + ${book.id}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>
